.story-list {
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  @media screen and (max-width: 619px) {
    flex-flow: column wrap;
  }
  &__container{
    overflow: visible;
    display:block;
    margin: 90px auto 0 auto;
    max-width: 1180px;
    @media screen and (max-width: 619px) {
      margin: 90px 20px 0 20px;
    }
  }
  &__loader{
    text-align: center;
  }
  &__controls{
    display: flex;
    justify-content: center;
    @media screen and (max-width: 619px) {
      display:none;
    }
    ul{
      display: flex;
      position: relative;
      align-items: center;
      li{
        margin: 0 10px;
        position: relative;
        display: inline;
        &:not(:last-child):after {
          background: #121212;
          border-radius: 100%;
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          right: -10px;
          top: 50%;
          width: 2px;
          opacity: 0.4;
        }
        a{
          color: #272c2f;
          opacity: 0.4;
          text-decoration: none;
          &.active{
            opacity: 1;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}